/*<!--===== HOME =====-->*/
.home{
    background-color: var(--gray-color);
}

.home__container{
    height: calc(100vh - var(--header-height));
}

.home__data {
    margin-top: 6rem;
}

.home__title {
    align-self: center;
    font-size: var(--biggest-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
}

.home__title span{
    font-size: var(--h1-font-size);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}